/* .content {
    padding: 7rem 0;
    height: 50vh;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    background: #8bbabb;

}

.form-control {
    border: none;
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    background: none;

}

.contact-wrap {
    -webkit-box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.contact-wrap .col-form-label {
    font-size: 14px;
    color: #b3b3b3;
    margin: 0 0 10px 0;
    display: inline-block;
    padding: 0;
}

.btn {
    border: none;
    border-radius: 0;
    font-size: 12px;
    letter-spacing: .2rem;
    text-transform: uppercase;
    background: #35477d;
    color: #fff;
    height: 45px;
}

.contact-wrap .contact-info {
    background: #35477d;
    color: white;

}

.list-unstyled {
    list-style: none;
}

.list-unstyled li {
    margin: 10px;
} */



element.style {
    background-image: url(/assets/aboutus.jpg);
}
.hero-wrap, .img, .blog-img, .user-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 400px;
}
.ftco-section {
    padding: 6em 0;
    position: relative;
}
.bg-light {
    background: #f7f6f2 !important;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}


.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn.btn-primary {
    background: #82ae46;
    border: 1px solid #82ae46;
    color: #fff;
}
.btn {
    
    border-radius: 30px;
    box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
}

.pl-5, .px-5 {
    padding-left: 3rem !important;
}
.pr-5, .px-5 {
    padding-right: 3rem !important;
}
.pb-3, .py-3 {
    padding-bottom: 1rem !important;
}
.pt-3, .py-3 {
    padding-top: 1rem !important;
}


.form-group {
    margin-bottom: 1rem;
}


