<div class="hero-wrap hero-bread" style="background-image: url('/assets/aboutus.jpg');">
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center fadeInUp ftco-animated">
        <p class="breadcrumbs mt-5" style="color: white;">
          <span class="mr-2 text-center"><a href="index.html" style="color: white; text-decoration: none;">Home</a></span>
          <span style="color: white;">&nbsp;&nbsp;&nbsp;</span> 
          <span>About us</span>
        </p>
        <h1 class="mb-0 bread" style="color: white;">About us</h1>
      </div>
    </div>
  </div>
</div>
<section class="ftco-section contact-section bg-light">
  <div class="container">
    <div class="row d-flex mb-5 contact-info  container justify-content">
      <div class="w-100"></div>
      <div class="col-md-3 d-flex p-5">
        <div class="info bg-white p-4">
          <p><span>Address:</span> 198 West 21th Street, Suite 721 New York NY 10016</p>
        </div>
      </div>
     
      <div class="col-md-3 d-flex p-5">
        <div class="info bg-white p-4">
          <p><span>Phone: </span> <a href="tel://1234567920"  style="text-decoration: none; color: grey;">+ 1235 2355 98</a></p>
        </div>
      </div>
      <div class="col-md-3 d-flex p-5" >
        <div class="info bg-white p-4"  >
          <p><span>Email: </span> <a href="mailto:info@yoursite.com" style="text-decoration: none; color: grey; font-size: 15px;">info@yoursite.com</a></p>
        </div>
      </div>
      <div class="col-md-3 d-flex p-5">
        <div class="info bg-white p-4">
          <p><span>Website </span> <a href="#"  style="text-decoration: none;color: grey;">yoursite.com</a></p>
        </div>
      </div>

  </div>
    <div class="row block-9">
      <div class="col-md-6 order-md-last d-flex">
        <form action="#" class="bg-white p-5 contact-form w-100 h-100">
          <div class="form-group">
            <input type="text" class="form-control h-100" placeholder="Your Name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Your Email">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Subject">
          </div>
          <div class="form-group">
            <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
          </div>
          <div class="form-group">
            <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
          </div>
        </form>
      
      </div>

      <div class="col-md-6 d-flex">
        <div id="map" class="bg-white" style="position: relative;">
         <img src="/assets/vegetable2.jpg" alt="veg" height="100%" width="100%">
  </div>
      </div>
    </div>
  </div>
</section>


<!-- <div class="container-fluid content">
  <div class="container">
    <div class="row align-items-stretch g-0 contact-wrap">
      <div class="col-sm-8 bg-light">
        <div class="h-100 p-5">
          <h3>Send us a message</h3>
          <div class="row">
            <div class="col-sm-6 form-group mb-5 ">
              <label for="" class="col-form-label">Name *</label>
              <input type="text" class="form-control" name="name" id="name" placeholder="Your name">
            </div>
            <div class="col-sm-6">
              <label for="" class="col-form-label">Email *</label>
              <input type="text" class="form-control" name="email" id="email" placeholder="Your Email">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 form-group mb-5">
              <label for="" class="col-form-label">Name *</label>
              <input type="text" class="form-control" name="name" id="name" placeholder="Your name">
            </div>
            <div class="col-sm-6 form-group mb-5">
              <label for="" class="col-form-label">Email *</label>
              <input type="text" class="form-control" name="email" id="email" placeholder="Your Email">
  
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 form-group mb-5">
              <label for="" class="col-form-label">Message *</label>
              <textarea name="" class="form-control" id="" cols="30" rows="3"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 form-group">
              <button class="btn btn-primary rounded-0 py-2 my-5">send message</button>
            </div>
            </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="contact-info h-100 p-5">
          <h3>Contact Information</h3>
          <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, magnam!</p>
          <ul class="list-unstyled">
          <li class="d-flex">
          <span class="wrap-icon icon-room mr-3"></span>
          <span class="text">9757 Aspen Lane South Richmond Hill, NY 11419</span>
          </li>
          <li class="d-flex">
          <span class="wrap-icon icon-phone mr-3"></span>
          <span class="text">+1 (291) 939 9321</span>
          </li>
          <li class="d-flex">
          <span class="wrap-icon icon-envelope mr-3"></span>
          <span class="text">info@mywebsite.com</span>
          </li>
          </ul>
          </div>
        </div>
    </div>
  </div>
</div> -->