<div class="container-fluid content">

  <div class="container">
    <div class="row align-items-stretch g-0 contact-wrap">
      <div class="col-sm-8 bg-light">
        <div class="h-100 p-5">
          <h3>Send us a message</h3>

          <div class="row">
            <div class="col-sm-6 form-group mb-5 ">
              <label for="" class="col-form-label">Name *</label>
              <input type="text" class="form-control" name="name" id="name" placeholder="Your name">
            </div>
            <div class="col-sm-6">
              <label for="" class="col-form-label">Email *</label>
              <input type="text" class="form-control" name="email" id="email" placeholder="Your Email">
  
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 form-group mb-5">
              <label for="" class="col-form-label">Name *</label>
              <input type="text" class="form-control" name="name" id="name" placeholder="Your name">
            </div>
            <div class="col-sm-6 form-group mb-5">
              <label for="" class="col-form-label">Email *</label>
              <input type="text" class="form-control" name="email" id="email" placeholder="Your Email">
  
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 form-group mb-5">
              <label for="" class="col-form-label">Message *</label>
              <textarea name="" class="form-control" id="" cols="30" rows="3"></textarea>
            </div>

          </div>
          <div class="row">
            <div class="col-md-12 form-group">
              <button class="btn btn-primary rounded-0 py-2 my-5">send message</button>
            </div>
            </div>
        </div>

      </div>
      <div class="col-sm-4">

        <div class="contact-info h-100 p-5">
          <h3>Contact Information</h3>
          <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, magnam!</p>
          <ul class="list-unstyled">
          <li class="d-flex">
          <span class="wrap-icon icon-room mr-3"></span>
          <span class="text">9757 Aspen Lane South Richmond Hill, NY 11419</span>
          </li>
          <li class="d-flex">
          <span class="wrap-icon icon-phone mr-3"></span>
          <span class="text">+1 (291) 939 9321</span>
          </li>
          <li class="d-flex">
          <span class="wrap-icon icon-envelope mr-3"></span>
          <span class="text">info@mywebsite.com</span>
          </li>
          </ul>
          </div>

      </div>


    </div>
  </div>

</div>