<!-- <div class="container p-5 bg-primary" style="width: auto;">
  <h5 class="text-white">contact information</h5>
  <p>Lorem ipesum dolor sit amet, consectetur <br>
    adipisicing elit. Molestias, magnam!</p>
    <p><mat-icon ms-5>location_on</mat-icon>9752 aspen Lane South Richmond <br>
       Hill,NY 11419</p>
      <p><mat-icon>phone</mat-icon>+1(291) 939 9321</p>
      <p>
        <mat-icon>mail</mat-icon>info@mywebsite.com
      </p>
</div> 



<div class="container">
  <div class="row">
    <h5>send us a message</h5>
    <div class="col-md-6">
      <mat-form-field appearance="fill">
        <mat-label>Name#</mat-label>
        <input matInput placeholder="Your Name">
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field appearance="fill">
        <mat-label>Email*</mat-label>
        <input matInput placeholder="Your Mail">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field appearance="fill">
        <mat-label>Phone*</mat-label>
        <input matInput placeholder="Your Phone">
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field appearance="fill">
        <mat-label>Company</mat-label>
        <input matInput placeholder="Company Name">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <mat-form-field appearance="fill">
        <mat-label>Message</mat-label>
        <input matInput placeholder="Write Your Message">
      </mat-form-field>
    </div>
  </div>
</div> 
 -->


 <div class="container">
  <div class="row">
    <!-- Left side (2nd container) -->
    <div class="col-md-6">
      <h5>send us a message</h5>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="fill">
            <mat-label>Name#</mat-label>
            <input matInput placeholder="Your Name">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="fill">
            <mat-label>Email*</mat-label>
            <input matInput placeholder="Your Mail">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="fill">
            <mat-label>Phone*</mat-label>
            <input matInput placeholder="Your Phone">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="fill">
            <mat-label>Company</mat-label>
            <input matInput placeholder="Company Name">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <mat-form-field appearance="fill">
            <mat-label>Message</mat-label>
            <input matInput placeholder="Write Your Message">
          </mat-form-field>
        </div>
      </div>
    </div>
    <!-- Right side (1st container) -->
    <div class="col-md-6">
      <div class="col-md-6">
        <div class="container p-5 bg-primary" style="width: auto;">
          <h5 class="text-white">contact information</h5>
          <p>Lorem ipesum dolor sit amet, consectetur <br>
            adipisicing elit. Molestias, magnam!</p>
          <p><mat-icon ms-5>location_on</mat-icon>9752 Aspen Lane South Richmond <br>
            Hill, NY 11419</p>
          <p><mat-icon>phone</mat-icon>+1(291) 939 9321</p>
          <p>
            <mat-icon>mail</mat-icon>info@mywebsite.com
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
















 <div class="container">
  <div class="row">
    <!-- Left side (2nd container) -->
    <div class="col-md-6">
      <div class="container p-5 bg-primary" style="width: auto;">
        <h5 class="text-white">contact information</h5>
        <p>Lorem ipesum dolor sit amet, consectetur <br>
          adipisicing elit. Molestias, magnam!</p>
        <p><mat-icon ms-5>location_on</mat-icon>9752 Aspen Lane South Richmond <br>
          Hill, NY 11419</p>
        <p><mat-icon>phone</mat-icon>+1(291) 939 9321</p>
        <p>
          <mat-icon>mail</mat-icon>info@mywebsite.com
        </p>
      </div>
    </div>
    <!-- Right side (1st container) -->
    <div class="col-md-6">
      <h5>send us a message</h5>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="fill">
            <mat-label>Name#</mat-label>
            <input matInput placeholder="Your Name">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="fill">
            <mat-label>Email*</mat-label>
            <input matInput placeholder="Your Mail">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="fill">
            <mat-label>Phone*</mat-label>
            <input matInput placeholder="Your Phone">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="fill">
            <mat-label>Company</mat-label>
            <input matInput placeholder="Company Name">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <mat-form-field appearance="fill">
            <mat-label>Message</mat-label>
            <input matInput placeholder="Write Your Message">
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- <div class="container">
  <div class="row">
    <div class="col md-6">
      <mat-form-field appearance="fill">
        <mat-label>Name#</mat-label>
        <input matInput placeholder="Your Name">
      </mat-form-field>
    </div>
      <div class="col md-6">
      <mat-form-field appearance="fill">
        <mat-label>Email*</mat-label>
        <input matInput placeholder="Your Mail">
      </mat-form-field>
    </div>
    <div class="col md-6">
<mat-form-field appearance="fill">
  <mat-label>Phone*</mat-label>
  <input matInput placeholder="Your Phone">
</mat-form-field>
</div>
<div class="col md-6">
<mat-form-field appearance="fill">
  <mat-label>Company</mat-label>
  <input matInput placeholder="Company Name">
</mat-form-field>
</div>
<div class="col md-12">
  <mat-form-field appearance="fill">
    <mat-label>Message</mat-label>
    <input matInput placeholder="Write Your Message">
  </mat-form-field>
  </div>
</div>
</div> -->
