<div class="container h1 text-center text-primary">
  VEGITABLE SHOPING
</div>
  <div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img src="/assets/veg1.png" class="card-img-top img-fluid h-100 d-block" alt="veg">
        <div class="card-body">
          <h5 class="card-title">Radish</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/assets/veg2.png" class="card-img-top img-fluid h-100 d-block" alt="veg">
        <div class="card-body">
          <h5 class="card-title">Land finger</h5>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/assets/veg3.png" class="card-img-top img-fluid h-100 d-block" alt="veg">
        <div class="card-body">
          <h5 class="card-title">Carrot</h5>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      </div>
    <div class="col-sm">
     <div class="card" style="width: 18rem;">
        <img src="/assets/veg4.png" class="card-img-top" alt="veg">
        <div class="card-body">
          <h5 class="card-title">Tomato</h5>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/assets/veg5.png" class="card-img-top" alt="veg">
        <div class="card-body">
          <h5 class="card-title">Ridge gourd</h5>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/assets/veg6.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Dill</h5>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      
    </div>
    <div class="col-sm">
<div class="card" style="width: 18rem;">
        <img src="/assets/veg7.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Soya Bean</h5>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/assets/veg8.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mustard greens </h5>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/assets/veg9.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Green chilli</h5>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
          </div> 
  </div>
</div>  

