<mat-nav-list>
  <div class="logo py-4 text-center">
    <img src="../../../assets/logo1.png " class=" w-75 rounded-pill"  alt="">
  </div>
  <mat-divider></mat-divider>
  <h3 matSubheader class="mt-2 text-light">APPLICATIONS</h3>
  <mat-divider></mat-divider>
  <ul>
    <li routerLinkActive="active">
      <a class="d-flex align-items-center" routerLink="/admin/home">
        <mat-icon>home</mat-icon> <span>Home</span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a class="d-flex align-items-center" routerLink="/admin/dashboard">
        <mat-icon>dashboard</mat-icon> Dashboard
      </a>
    </li>
    
  </ul>
  
 
</mat-nav-list>
