<mat-nav-list>
  <div class="logo py-4 text-center">
    <img src="../../../assets/logo1.png " class=" w-75 rounded-pill" alt="">
  </div>
  <mat-divider></mat-divider>
  <h3 matSubheader class="mt-2 text-light">APPLICATIONS</h3>
  <mat-divider></mat-divider>
  <ul>
    <li *ngFor="let data of sideMenu " routerLinkActive="active">
      <a class="d-flex align-items-center" routerLink={{data.path}}>
        <mat-icon>{{data.icon}}</mat-icon> <span>{{data.name}}</span>
      </a>
    </li>

  </ul>
</mat-nav-list>