<div class="hero-wrap hero-bread" style="background-image: url('/assets/aboutus.jpg');">
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center fadeInUp ftco-animated">
        <p class="breadcrumbs" style="color: white;">
          <span class="mr-2"><a href="index.html" style="color: white; text-decoration: none;">Home</a></span>
          <span style="color: white;">&nbsp;&nbsp;&nbsp;</span> 
          <span>About us</span>
        </p>
        <h1 class="mb-0 bread" style="color: white;">About us</h1>
      </div>
    </div>
  </div>
</div>
<section class="about-section ">
  <div class="container">
    <div class="row">
      <div class="col-md-5 img img-2 d-flex justify-content-center align-items-center" >
       <img src="/assets/about.jpg" alt="about" class="img-fluid">
      </div>
      <div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate fadeInUp ftco-animated">
        <div class="heading-section-bold mb-4 mt-md-5">
          <div class="ml-md-0">
            <h1 class="mb-4 fw-bold">Welcome to Vegefoods an <br> eCommerce website</h1>
          </div>
        </div>
        <div class="pb-md-5">
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
          <p>But nothing the copy said could convince her and so it didn't take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their.</p>
        <button class="btn-shop ">shop now</button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="about-section py-5 ">
  <div class="container py-4">
    <div class="row d-flex justify-content-center py-5">
      <div class="col-md-6">
        <h2 style="font-size: 22px;" class="mb-0 fw-bold">Subcribe to our Newsletter</h2>
        <span>Get e-mail updates about our latest shops and special offers</span>
      </div>
      <div class="col-md-6 d-flex align-items-center">
          <div class="form-group d-flex w-100">
            <input type="text" class="search-input" placeholder="Enter email address">
            <button class="subcribe-btn">Subcribe</button>
          </div>
      </div>
    </div>
  </div>
</section>
<section class="ftco-section d-flex align-items-center">
  <div class="container ">
    <div class="row justify-content-center py-5 p-md-5 pb-md-5">
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate fadeInUp ftco-animated">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number fs-2 fw-bold" data-number="10000">10,000</strong>
                <br>
                <span>Happy Customers</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate fadeInUp ftco-animated">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number fs-2 fw-bold" data-number="100">100</strong><br>
                <span>Branches</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate fadeInUp ftco-animated">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number fs-2 fw-bold  " data-number="1000">1,000</strong><br>
                <span>Partner</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate fadeInUp ftco-animated">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number fs-2 fw-bold" data-number="100">100</strong><br>
                <span>Awards</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container mt-md-5">
<div class="row justify-content-center mb-5 pb-3">
  <div class="col-md-7 heading-section ftco-animate text-center fadeInUp ftco-animated">
    <span class="subheading " style="color:green;">Testimony</span>
    <h1 class="mb-4 fw-bold" style="color: black;">Our satisfied customer says</h1>
    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, <br>there live the blind texts. Separated they live in</p>
  </div>
</div>
</div>