<div class="image">
  <div class="wrapper">
    <span class="icon-close" (click)="goHome()"><i class="fa-solid fa-xmark"></i></span>
    <div>
      <div *ngIf="title==='login'">
        <div class="form-box login">
          <h2>User Login</h2>
          <div class="input-box">
            <span class="icon"><i class="fa-solid fa-user"></i></span>
            <input type="Username" [(ngModel)]="userName" required>
            <label> Username</label>
          </div>

          <div class="input-box">
            <span class="icon"><i class="fa-solid fa-lock"></i></span>
            <input type="Password" [(ngModel)]="password" required>
            <label> Password</label>
          </div>
          <div class="remember-forgot">
            <label><input type="checkbox">Remember me </label>
            <a href="#"> Forgot Password?</a>
          </div>
          <div class="text-center">
            <button type="button" (click)="login()" class="btn">Login</button>

          </div>
          <div class="login-register">
            <p>Don't have an account? <a class="register-link" (click)="getRegister()">Register</a></p>
          </div>
        </div>
      </div>
      <div *ngIf="title==='register'">
        <div class="form-box register mt-2">
          <h2>Registeration</h2>
          <div class="input-box">
            <span class="icon"><i class="fa-solid fa-user"></i></span>
            <input type="Username" [(ngModel)]="userName" required>
            <label> User Name</label>
          </div>

          <div class="input-box">
            <span class="icon"><i class="fa-solid fa-lock"></i></span>
            <input type="Password" [(ngModel)]="password" required>
            <label>Password</label>
          </div>
          <div class="input-box">
            <span class="icon"><i class="fa-solid fa-envelope"></i></span>
            <input type="Email" [(ngModel)]="email" required>
            <label>Email</label>
          </div>
          <div class="input-box">
            <span class="icon"><i class="fa-solid fa-mobile"></i></span>
            <input type="tel" [(ngModel)]="mobile" required>
            <label>Mobile</label>
          </div>
          <div class="remember-forgot">
            <label><input type="checkbox">I agree to the terms & conditions</label>

          </div>
          <button type="submit" class="btnr" (click)="register()">Register</button>

          <div class="login-register">
            <p>Already have an account? <a (click)="getLogin()" class="login">Login</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>