<div class="container-fluid m-0 p">
  <div class="row  ">
    <div class="col-lg-6 col-sm-6 d-flex justify-content-center align-items-center">
      <div class="w-50">
        <h3 class="text-center">
          Login to Users
        </h3>
          <div>
            <label class="form-label" for="username">Username</label>
            <input type="text" id="username" class="form-control" [(ngModel)]="userName" placeholder="Enter Email">
          </div>
          <div class="form-group mb-3">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" [(ngModel)]="password" placeholder="Enter password">
          </div>
          <div class="d-flex  alignment-item-center">
            <label class="control control--checkbox mb-0">
              <input type="checkbox" checked="checked">
              <span class="caption"> Remember me</span>
            </label>

          </div>
          <span class="ml-auto">
            <a class="forgot-pass" href="#">Forgot Password</a>
          </span>

          <input class="btn btn-primary btn-login" (click)="login()" value="Log In">

       
      </div>

    </div>
    <div class="col-lg-6 main">
      <img src="assets/supermarket image.webp" class="w-100 h-100" alt="">
    </div>

  </div>


</div>