<mat-toolbar>
  <mat-toolbar-row class="justify-content-between pt-2">
    <button class="menu-btn" mat-icon-button (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="row mr-2 ml-auto ">
      <ul class=" m-0 align-items-center">
        <li>
          <img src="../../../assets/person.png" alt="" class="user-image mr-1 p-2" />
          <span class="fw-bold fs-3"> {{userName}} </span>

        </li>
        <li><button class=" border-danger text-danger fw-bold border border-4 rounded-circle menu-btn"
            (click)="logout()"> <mat-icon class="pt-1">exit_to_app</mat-icon></button></li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>