<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Add Category</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center">

      <div class="container">
      <form [formGroup]="oderForm" (submit)="add()" class="form">
        <div class="form_front">
        <div class="row mb-2">
          <label for="name" class="form_details">Product Name</label>
          <div class="col-sm-10 me-2">
            <input type="text" class="index" id="name" name="name" formControlName="name">
            <span style="color: red;" *ngIf="name?.invalid && name?.touched">
              <span style="color: red; font-size: 20px;" *ngIf="name?.errors?.['required']">
                Name Must required
              </span>

            </span>
          </div>
        </div>


          <div class="button-container">
        <button type="submit" class="btn me-5">Submit</button>
        <button type="button" class="btn" (click)="goback()">Cancel</button>
      </div>
      </div>
      </form>
    
    </div>
  </div>
</div>
</div>